.outside_circle{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px black solid;
}

.inner_circle{
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: black;
}