.gamepad{
    position: absolute;
    right: -90px;
    top: -50px;
    scale: 0.6;
}

.status{
    position: absolute;
    left: 15px;
    top: 15px;
}

.stream{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}