.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    font-weight: bold;

    border-radius: 10px;

    align-items: center;
    height: 50px;
    width: 150px;

    user-select: none;
}

.connected{
    background-color: rgba(0, 128, 0, 0.6);
}

.disconnected{
    background-color: rgba(255, 0, 0, 0.6);
}